* {
  margin: 0;
}
.App_container::-webkit-scrollbar {
  display: none;
}

.App_header {
  text-align: center;
  font-size: 36px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App_header_container {
  background: linear-gradient(45deg,rgba(58,65,109,1) 0,rgba(58,65,109,1) 1%,rgba(63,99,131,1) 100%);
  padding-top: 3vh;
  position: fixed;
  width: 100%;
}
.App_header_title {
  padding-left: 1vh;
}